<div class="row">
  <div class="col-sm-1 col-md-3"></div>
  <div class="col-sm-10 col-md-6">
    <h2>Features</h2>
    <hr />
  </div>
  <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-3"></div>
  <div class="col-sm-10 col-md-6">
    <h4>
      <a routerLink="/Features/Create">
        Create
      </a>
    </h4>
    <hr />
  </div>
  <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-3"></div>
  <div class="col-sm-10 col-md-6">
    <kendo-grid [data]="features"
                [pageSize]="state.take"
                [skip]="state.skip"
                [sort]="state.sort"
                [sortable]="true"
                [pageable]="true"
                [scrollable]="'scrollable'"
                [groupable]="false"
                [group]="state.group"
                [filterable]="false"
                [filter]="state.filter"
                (dataStateChange)="dataStateChange($event)"
                [height]="370">
      <kendo-grid-column field="Name" title="Name">
        <ng-template kendoGridCellTemplate let-feature>
          <a routerLink="/Features/Details/{{feature.Id}}">
            {{feature.Name}}
          </a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="col-sm-1 col-md-3"></div>
</div>
