<div class="row">
  <div class="col-sm-1 col-md-3"></div>
  <div class="col-sm-10 col-md-6">
    <h2>Edit License</h2>
  </div>
  <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-3"></div>
  <div class="col-sm-10 col-md-6">
    <hr />
    <dl>
      <dt>
        Client
      </dt>
      <dd>
        <a routerLink="/Clients/Details/{{clientFeature.Model1Id}}">
          {{clientFeature.Model1Name}}
        </a>
      </dd>
      <dt>
        Feature
      </dt>
      <dd>
        <a routerLink="/Features/Details/{{clientFeature.Model2Id}}">
          {{clientFeature.Model2Name}}
        </a>
      </dd>
    </dl>
    <form #f="ngForm" ngNativeValidate (ngSubmit)="edit(f)">
      <div class="form-group row">
        <div class="col-4">
          <label for="name">Expiration Date</label>
        </div>
        <div class="col-8">
          <kendo-datepicker required
                            name="expirationDate"
                            [(value)]="clientFeature.ExpirationDate"
                            [(ngModel)]="clientFeature.ExpirationDate">
          </kendo-datepicker>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <hr/>
          <h4>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Save</button> |
            <a routerLink="/ClientFeatures/Details/{{clientFeature.Model1Id}}/{{clientFeature.Model2Id}}">Back to Details</a> |
            <a routerLink="/ClientFeatures">Back to List</a>
          </h4>
          <div *ngIf="error" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{error}}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1 col-md-3"></div>
</div>
