<div class="row">
  <div class="col-sm-1 col-md-3"></div>
  <div class="col-sm-10 col-md-6">
    <h2>Edit Client</h2>
  </div>
  <div class="col-sm-1 col-md-3"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-3"></div>
  <div class="col-sm-10 col-md-6">
    <hr />
    <form #f="ngForm" ngNativeValidate (ngSubmit)="edit(f)">
      <div class="form-group row">
        <div class="col-4">
          <label for="name">Client Name</label>
        </div>
        <div class="col-8">
          <input [(ngModel)]="client.Name" id="name" name="name" type="text" required class="form-control" placeholder="Name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <kendo-grid [data]="features"
                      [selectable]="selectable"
                      [rowSelected]="rowSelected"
                      [rowClass]="rowClass"
                      [pageSize]="state.take"
                      [skip]="state.skip"
                      [sort]="state.sort"
                      [sortable]="sortable"
                      [pageable]="pageable"
                      [scrollable]="'none'"
                      [groupable]="false"
                      [group]="state.group"
                      [filterable]="false"
                      [filter]="state.filter"
                      (dataStateChange)="dataStateChange($event)"
                      (selectionChange)="selectionChange($event)">
            <kendo-grid-checkbox-column [width]="10">
              <ng-template kendoGridHeaderTemplate>
                <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox>
                <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
              </ng-template>
            </kendo-grid-checkbox-column>
            <kendo-grid-column field="Name" title="Feature Name">
              <ng-template kendoGridCellTemplate let-feature>
                <a routerLink="/ClientFeatures/Details/{{client.Id}}/{{feature.Id}}">
                  {{feature.Name}}
                </a>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <hr />
          <h4>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Save</button> |
            <a routerLink="/Clients/Details/{{client.Id}}">Back to Details</a> |
            <a routerLink="/Clients">Back to List</a>
          </h4>
          <div *ngIf="error" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{error}}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1 col-md-3"></div>
</div>
