<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <h2><fa-icon [icon]="['fal', 'user-cog']"></fa-icon> License Details</h2>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <div class="row">
      <div class="col-6 col-md-4">
        <fa-icon [icon]="['fal', 'user']"></fa-icon> Client
      </div>
      <div id="clientName" class="col-6 col-md-8">
        <a routerLink="/Clients/Details/{{clientFeature.model1Id}}">
          {{clientFeature.model1Name}}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <fa-icon [icon]="['fal', 'cog']"></fa-icon> Feature
      </div>
      <div id="featureName" class="col-6 col-md-8">
        <a routerLink="/Features/Details/{{clientFeature.model2Id}}">
          {{clientFeature.model2Name}}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <fa-icon [icon]="['fal', 'calendar']"></fa-icon> Expiration Date
      </div>
      <div id="expirationDate" class="col-6 col-md-8">
        {{clientFeature.expirationDate | date}}
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <h4>
      <a routerLink="/ClientFeatures">
        <fa-icon [icon]="['fal', 'list']"></fa-icon> List
      </a> |
      <a routerLink="/ClientFeatures/Edit/{{clientFeature.model1Id}}/{{clientFeature.model2Id}}">
        <fa-icon [icon]="['fal', 'edit']"></fa-icon> Edit
      </a> |
      <a routerLink="/ClientFeatures/Delete/{{clientFeature.model1Id}}/{{clientFeature.model2Id}}">
        <fa-icon [icon]="['fal', 'trash']"></fa-icon> Delete
      </a>
    </h4>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
