<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <h2><fa-icon [icon]="['fal', 'user-cog']"></fa-icon> Delete License</h2>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <div class="row">
      <div class="col-6 col-md-4">
        <fa-icon [icon]="['fal', 'user']"></fa-icon> Client
      </div>
      <div id="clientName" class="col-6 col-md-8">
        <a routerLink="/Clients/Details/{{clientFeature.model1Id}}">
          {{clientFeature.model1Name}}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <fa-icon [icon]="['fal', 'cog']"></fa-icon> Feature
      </div>
      <div id="featureName" class="col-6 col-md-8">
        <a routerLink="/Features/Details/{{clientFeature.model2Id}}">
          {{clientFeature.model2Name}}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <fa-icon [icon]="['fal', 'calendar']"></fa-icon> Expiration Date
      </div>
      <div id="expirationDate" class="col-6 col-md-8">
        {{clientFeature.expirationDate | date}}
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <form novalidate (ngSubmit)="delete()">
      <div class="form-group">
        <hr />
        <h4>
          <button type="submit" class="btn btn-primary">
            Delete
          </button> |
          <a routerLink="/ClientFeatures/Details/{{clientFeature.model1Id}}/{{clientFeature.model2Id}}">
            <fa-icon [icon]="['fal', 'info-square']"></fa-icon> Details
          </a> |
          <a routerLink="/ClientFeatures">
            <fa-icon [icon]="['fal', 'list']"></fa-icon> List
          </a>
        </h4>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{error}}
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
