<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <h2><fa-icon [icon]="['fal', 'cog']"></fa-icon> Features</h2>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <kendo-grid [data]="features"
                [pageSize]="state.take"
                [skip]="state.skip"
                [sort]="state.sort"
                [sortable]="sortable"
                [pageable]="pageable"
                [scrollable]="'none'"
                [groupable]="false"
                [group]="state.group"
                [filterable]="true"
                [filter]="state.filter"
                (dataStateChange)="dataStateChange($event)">
      <kendo-grid-column field="name">
        <ng-template kendoGridHeaderTemplate>
          <fa-icon [icon]="['fal', 'cog']"></fa-icon> Feature
        </ng-template>
        <ng-template kendoGridCellTemplate let-feature>
          <a routerLink="/Features/Details/{{feature.id}}">
            {{feature.name}}
          </a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      <strong>Oops!</strong> {{error}}
    </div>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <h4>
      <a routerLink="/Features/Create">
        <fa-icon [icon]="['fal', 'plus']"></fa-icon> Add
      </a>
    </h4>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
