<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <h2><fa-icon [icon]="['fal', 'cog']"></fa-icon> Feature Details</h2>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <div class="row">
      <div class="col-6 col-md-4">
        Name
      </div>
      <div id="featureName" class="col-6 col-md-8">
        <strong>{{feature.name}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        Core
      </div>
      <div id="featureIsCore" class="col-6 col-md-8">
        <strong>{{feature.isCore ? 'Yes' : 'No'}}</strong>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <kendo-grid [data]="clientFeatures"
                    [selectable]="false"
                    [pageSize]="state.take"
                    [skip]="state.skip"
                    [sort]="state.sort"
                    [sortable]="sortable"
                    [pageable]="pageable"
                    [scrollable]="'none'"
                    [groupable]="false"
                    [group]="state.group"
                    [filterable]="false"
                    [filter]="state.filter"
                    (dataStateChange)="dataStateChange($event)">
          <kendo-grid-column field="model1Name">
            <ng-template kendoGridHeaderTemplate>
              <fa-icon [icon]="['fal', 'user']"></fa-icon> Client
            </ng-template>
            <ng-template kendoGridCellTemplate let-clientFeature>
              <a routerLink="/Clients/Details/{{clientFeature.model1Id}}">
                {{clientFeature.model1Name}}
              </a>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column>
            <ng-template kendoGridHeaderTemplate>
              <fa-icon [icon]="['fal', 'calendar']"></fa-icon> Expiration Date
            </ng-template>
            <ng-template kendoGridCellTemplate let-clientFeature>
              <a routerLink="/ClientFeatures/Details/{{clientFeature.model1Id}}/{{clientFeature.model2Id}}">
                {{clientFeature.expirationDate | date}}
              </a>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <h4>
      <a routerLink="/Features">
        <fa-icon [icon]="['fal', 'list']"></fa-icon> List
      </a> |
      <a routerLink="/Features/Edit/{{feature.id}}">
        <fa-icon [icon]="['fal', 'edit']"></fa-icon> Edit
      </a> |
      <a routerLink="/Features/Delete/{{feature.id}}">
        <fa-icon [icon]="['fal', 'trash']"></fa-icon> Delete
      </a>
    </h4>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      <strong>Oops!</strong> {{error}}
    </div>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
