<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik.com" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="ClarityTeam@Clarity-Ventures.com" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhyO2e+snhkuCCebnbNV8LAAAAAACAAAAAAADZgAAwAAAABAAAAAuUMZZiPDfj/VpGqYTDhUCAAAAAASAAACgAAAAEAAAAHzClWTwcT4kgmtTmMifx9UQAAAATgJxUks2U7ZXdukX5bE/LhQAAABXYQ6uyNUGjQOVzIoUUjy95pW50w==" />
    </telerik.com>
  </packageSourceCredentials>
</configuration>